@import 'base/variables';
@import 'base/mixins';
@import 'base/extends';

@import 'layout/header';



@import 'components/footer';

@import 'pages/index';
@import 'pages/productos';
@import 'pages/quienessomos';
@import 'pages/servicios';


body {
    font-family: $fuente-principal;
    background: linear-gradient(to bottom, #ffffff, #DCC5A0); // blanco a marrón cálido
    color: $color-texto;
  }