footer {
    background-color: $color-principal;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
  
    p {
      margin-bottom: 1rem;
      font-weight: bold;
      letter-spacing: 1px;
    }
  
    a {
      color: #fff;
      margin: 0 0.5rem;
      font-size: 1.5rem;
      transition: color 0.3s ease;
  
      &:hover {
        color: $color-secundario;
      }
    }
  }