// _variables.scss

$color-principal: #8B5E3C; 
$color-secundario: #DCC5A0; 
$color-fondo: #fefcf9;
$color-texto: #3e2c1c;

$fuente-principal: 'Montserrat', sans-serif;

$radius: 1rem;

// FUENTES
$fuente-principal: 'Montserrat', sans-serif;

// ESPACIADOS
$espaciado-base: 1rem;
$borde-redondeado: 0.5rem;

